<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="UP" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>modelo.cadastrais.Cliente</class>
    <class>modelo.cadastrais.ClienteFisico</class>
    <class>modelo.cadastrais.ClienteJuridico</class>
    <class>modelo.cadastrais.Produto</class>
    <class>modelo.complementares.Cidade</class>
    <class>modelo.complementares.UF</class>
    <class>modelo.estruturais.Acao</class>
    <class>modelo.estruturais.Operacao</class>
    <class>modelo.estruturais.Usuario</class>
    <class>modelo.gerenciais.Despesa</class>
    <class>modelo.gerenciais.Fornecedor</class>
    <class>modelo.gerenciais.Funcionario</class>
    <class>modelo.gerenciais.Marca</class>
    <class>modelo.relacionais.entrada.Entrada</class>
    <class>modelo.relacionais.entrada.ItemPedido</class>
    <class>modelo.relacionais.entrada.Pedido</class>
    <class>modelo.relacionais.saida.Devolucao</class>
    <class>modelo.relacionais.saida.ItemVenda</class>
    <class>modelo.relacionais.saida.Venda</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/mercado?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="hibernate.format_sql" value="true"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
